@import "tailwindcss";

#event-date-left {
    width: fit-content;
}

.delete-event, .btn-delete-no {
    @apply bg-[#FFB593] text-black py-1 px-3 text-xs
}

.bold {
    font-weight: 600;
}

.delete-buttons button {
    margin: auto .2rem;
}

input, textarea {
    @apply my-1 mx-2 h-fit py-0 px-1 border-1 border-[#FFF1EA] w-[60vw] text-[#a9a9a9] xl:w-[40vw];
}

textarea {
    @apply h-[6rem] xl:h-[4rem];
}

.form-not-disabled {
    @apply border-1 border-[#a9a9a9] rounded-md text-[#213547];
}

.discard-changes, .discard-button-disabled {
    @apply bg-[#FFB593] text-black xl:mx-4;
}

.discard-button-disabled {
    @apply opacity-50;
}

.save-changes, .submit-button-disabled {
    @apply bg-[#317575] text-white xl:mx-4;
}

.submit-button-disabled {
    @apply opacity-50;
}

.delete-event, .btn-delete-no, button.btn.btn-white {
    @apply sm:text-xs xl:text-base
}

@media (prefers-color-scheme: dark) {
  .signout {
    background-color: white;
  }
}