.error {
    margin: 2rem auto;
}

.fa-circle-exclamation {
    color: #317575;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.error-redirect-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#error-button-home {
    font-weight: 400;
}

#error-button-account {
    background-color: #317575;
    color: white;
}