.sign-in-comp {
    min-height: 65vh;
}

.sign-up {
    display: flex;
    flex-direction: column;
}

.sign-up label {
    margin-top: 1rem;
}

.sign-up input {
    border: 1px solid lightgrey;
    width: 80vw;
    margin: auto;
    border-radius: 4px;
    padding: .25rem;
}

.sign-in-error {
    margin: .5rem auto;
    font-weight: 500;
    text-decoration: underline;
}

.sign-up button {
    margin: 1rem auto;
    width: fit-content;
    background-color: #FFB593;
    padding: .25rem .75rem;
}

@media only screen and (min-width: 500px) {
    .sign-in-comp {
        min-height: 70vh;
    }

    .sign-up input {
        margin-top: .5rem;
        width: 60vw;
    }
}

@media only screen and (min-width: 1000px) {
    .sign-in-comp {
        margin: auto;
        max-width: 50vw;
    }

    .sign-in-comp h1 {
        font-size: 1.5rem;
    }

    .sign-up input {
        width: 40vw;
    }
}

@media only screen and (min-width: 1200px) {
    .sign-up input {
        max-width: 30vw;
    }
}

@media (prefers-color-scheme: dark) {
  .switch-mode {
    background-color: white;
  }
}