@import "tailwindcss";

.single-event-title {
    margin-top: 1rem;
    color: #317575;
    font-size: 1.5rem;
    font-weight: 500;
}

.single-event-overview {
    margin-top: .25rem;
    color: black;
    font-size: .75rem;
}

.event-image {
    margin: 1rem auto;
    background-color: lightgrey;
    width: 75vw;
    height: 250px;
}

.event-info {
    display: flex;
    background-color: #317575;
    border-radius: 6px;
    color: white;
    justify-content: space-around;
    padding: .25rem;
    font-size: .75rem;
    align-items: center;
    font-weight: 500
}

.btn-buy-tickets {
    @apply bg-white text-black py-0.5 px-2 m-1;
}

.quantity-section {
    display: flex;
    padding-top: 1rem;
    margin: auto;
    width: max-content;
    font-size: .9rem;
}

.drop-down-quantity-box {
    width: 2.5rem;
    margin-left: .5rem;
    background-color: white;
}

.get-tickets {
    display: flex;
    padding-top: 1rem;
    margin: auto;
    width: max-content;
    align-items: center;
    font-size: .75rem;
}

.get-tickets-button {
    @apply bg-[#317575] text-white py-1.5 px-2 ml-2
}

.event-description-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    background-color: #317575;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    padding: .25rem 1rem;
    font-weight: 500;
}

.event-description-bar button, .venue-bar button, .host-bar button {
    background-color: #317575;
    border: 1px solid #317575;
    @apply py-1
}

.text-showing {
    margin: 1rem;
    font-size: .75rem;
}

.text-showing p {
    margin: .75rem auto;
}

.venue-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #317575;
    color: white;
    padding: .25rem 1rem;
    font-weight: 500;
}

.venue-details {
    font-size: .75rem;
    margin: 1rem 0;
}

.venue-subtitle {
    font-size: .9rem;
    font-weight: 700;
}

.venue-details p {
    margin: .5rem;
}

.facilities-list ul, .accessibility-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.facilities-list li, .accessibility-list li {
    margin: .5rem;
}

.facility, .accessibility {
    border: 1px solid #317575;
    width: max-content;
    border-radius: 6px;
    padding: .5rem;
}

.host-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #317575;
    color: white;
    padding: .25rem 1rem;
    font-weight: 500;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.host-info {
    font-weight: 700;
}

@media only screen and (min-width: 500px) {
    .single-event {
        min-height: 70vh;
    }
}